      <a href="#<%= link %>"><img src="<%= img %>" alt="<%= name %>" class="image" /></a>
      <ul>
        <li class="flowerInfo"><strong>Name:</strong> <%= name %></li>
        <li class="flowerInfo"><strong>Price:</strong> <%= price %></li>
        <li class="flowerInfo"><strong>Color:</strong> <%= color %></li>
      </ul>